#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    0,1,0,0
 PRODUCTVERSION 0,1,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "ClientTube"
            VALUE "FileVersion",     "0.1.0.0"
            VALUE "ProductName",     "ClientTube"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
